.*/
!.azurepipelines/
*.log
*.pyc
Platform.dsc
ConfigDataBlob.h
ConfigDataDynamic.h
ConfigDataStruct.h
ConfigDataCommonStruct.h
ResetVector.*.raw
/Outputs
/Build
/Conf
/PayloadPkg/PayloadBins
PayloadModPkg

