*.log
*.pyc
VerInfo.txt
Platform.dsc
ConfigDataBlob.h
ConfigDataDynamic.h
ConfigDataStruct.h
ConfigDataCommonStruct.h
CfgDataDef.bsf
ResetVector.ia32.raw
FSP_?.bin
/Outputs
/Stitch
/Build
/Conf
Platform/ApollolakeBoardPkg/VbtBin
Silicon/ApollolakePkg/FspBin
Silicon/QemuSocPkg/FspBin/*
!Silicon/QemuSocPkg/FspBin/Patches
