*.log
*.pyc
VerInfo.txt
Platform.dsc
ConfigDataBlob.h
ConfigDataDynamic.h
ConfigDataStruct.h
ConfigDataCommonStruct.h
CfgDataDef.bsf
ResetVector.ia32.raw
Fsp.bsf
FspDbg.bin
FspRel.bin
/Outputs
/Stitch
/Build
/Conf
/Download
/PayloadPkg/PayloadBins
Platform/ApollolakeBoardPkg/VbtBin
Platform/CoffeelakeBoardPkg/VbtBin
Silicon/ApollolakePkg/Include/Fsp*.h
Silicon/CoffeelakePkg/Include/Fsp*.h
Silicon/CoffeelakePkg/Microcode/*.mcb
