VerInfo.txt
*/CfgData/CfgData_FspM.yaml
*/CfgData/CfgData_FspS.yaml
*/VbtBin/*
!QemuBoardPkg/VbtBin/
!CoffeelakeBoardPkg/VbtBin/
!AlderlakeBoardPkg/VbtBin/
!ApollolakeBoardPkg/VbtBin/Vbt_*.*
!ArrowlakeBoardPkg/VbtBin/*
!PantherlakeBoardPkg/VbtBin/*
*.json
!RaptorlakeBoardPkg/VbtBin/Vbt_rplp*.*
!RaptorlakeBoardPkg/VbtBin/VbtRplPs*.*